# Archivos y directorios generados por MJML 
dist/
*.html

# Archivos de configuración locales del sistema operativo
.DS_Store
Thumbs.db

# Archivos de logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno de desarrollo
.vscode/
