# Archivos y directorios MJML
dist/
*.html

# Archivos de configuración locales del sistema operativo
.DS_Store
Thumbs.db

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entorno de desarrollo
.vscode/

# Dependencias de Node.js
node_modules/

# Archivos de compilación temporales
*.tmp
*.temp

# Configuración de entorno 
.env
.env.*

# Archivos de backups 
*.bak
*.swp
*.swo

# Archivos de caché de herramientas de desarrollo
.cache/
